.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

.modal {
  position: relative;
  top: 3%;
  /* right: 0; */
  /* left: 0; */
  width: 92%;
  padding: 1rem;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;

  @media (width > 600px) {
    width: 480px;
  }
}

.name-like-wrapper {
  align-items: center;
  gap: 0.5rem;
}
.close-button {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 0 5px #e7e7e7;
  width: 40px;
  height: 40px;
}
