.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

.modal-inner {
  position: absolute;
  top: 3%;
  right: 0;
  left: 0;
  width: 92%;
  padding: 1rem;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;

  @media (width > 600px) {
    width: 480px;
  }
}
