.like {
  color: #f43f5e;
}

.unlike {
  color: #ccc;
}

.button {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.button.like-animation {
  animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.button.unlike-animation {
  transition: 0.4s;
}
