.form-button.disabled {
  background-color: white;
  color: #60a5fa;
}
.form-button.able {
  background-color: #60a5fa;
  color: white;
}
.form-input {
  border: 2px solid #ccc;
  border-radius: 8px 0 0 8px;
  border-right: transparent;
  padding: 0.75rem;
}
.form-input:focus {
  outline: none;
}
.form-button {
  border: 2px solid #60a5fa;
  border-radius: 0 8px 8px 0;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  transition: 0.4s;
}
